<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.testboard2.testboard2.mapper.MemberMapper">
    <insert id="insertMember" parameterType="MemberDTO">
         <![CDATA[
            <!--INSERT INTO member (name, id, phone) VALUES ('이순신', 'mr.soon', '010-1111-2222'); -->
            INSERT INTO member (
                name
                , id
                , phone
            ) VALUES (
                #{name}
                , #{id}
                , #{phone}
            );
        ]]>
    </insert>
    <select id="selectMemberOne" parameterType="int" resultType="MemberDTO">
        <![CDATA[
            SELECT * FROM MEMBER WHERE NUM = #{num};
        ]]>
    </select>
    
    <update id="updateMember" parameterType="MemberDTO">
        <![CDATA[
            UPDATE MEMBER 
            SET
                  NAME  = #{name}
                , ID    = #{id}
                , phone = #{phone}
            WHERE NUM   = #{num};
        ]]>
    </update>
</mapper>